* {
    box-sizing: border-box;
    font-size: 12pt;
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-position: center top;
}

.contain {
    height: 100%;
    width: 100%;
    border-radius: 2px;
    background-color: #f2f2f2;
}

.pagesBody {
    width: 100%;
    height: auto;
    margin-top: 45px;
}

.pagesBottom {
    width: 100%;
    height: 20px;
}

.requestForm {
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-color: black;*/
}

input[type=text], select, textarea {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;

}

input[type=submit]:hover {
    background-color: #45a049;
}

input:invalid+span:after {
    content: '✖';
    padding-left: 5px;
}

input:valid+span:after {
    content: '✓';
    padding-left: 5px;
}

.col-30 {
    float: left;
    width: 30%;
    margin-top: 6px;
    text-align: center;
}

.col-70 {
    float: left;
    width: 70%;
    margin-top: 6px;
}

/* 清除浮动 */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* 响应式布局 layout - 在屏幕宽度小于 600px 时， 设置为上下堆叠元素 */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}