* {
    font-size: 12pt;
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/login/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
}

.contain {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pagesTop {
    width: 100%;
    height: 50px;
    /*border-style: solid;*/
    /*border-width: 1px;*/
}

.pagesBody {
    width: 100%;
    height: 700px;
    /*border-style: solid;*/
    /*border-width: 1px;*/
}

.pagesBottom {
    width: 100%;
    height: 20px;
    /*border-style: solid;*/
    /*border-width: 1px;*/
}

.jumpForm {
    height: 500px;
    width: 50%;
    margin-left: 25%;
    /*border-style: solid;*/
    /*border-width: 1px;*/
}

.display_flex
{
    display:flex;
    justify-content: space-between;
    width:80%;
    height:30%;
    margin-left:10%;
    margin-top: 30%;
    /*border-style: solid;*/
    /*border-width: 1px;*/
}

.selectionBtn {
    background-color: #9775e5;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bolder;
    color: aliceblue;
    width: 200px;
    height: 120px;
    cursor: pointer;
    box-shadow: 0 5px #999999;
}

.selectionBtn:hover {
    background-color: darkorange;
}

.selectionBtn:active {
    background-color: darkorange;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}