<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/MainPageNavigationBar.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pagesOfRole.css"/>
    <script type="text/javascript" src="../JavaScript/logging.js"></script>
    <title>Title</title>
</head>
<body>
<div class="contain">
    <div class="container-fluid">
        <ul>
            <li class="active"><a href="DataRequestForm">Data Request Form Page</a></li>
            <li><a href="log">Logging</a></li>
            <li style="float:right"><a href="logout">logout</a></li>
        </ul>
    </div>
    <div class="pagesBody">
        <form method="GET">

        </form>
    </div>
</div>
</body>
</html>