<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
你已注销账户
（这是一个测试）

<a href="occupant.ejs"><button type="button">跳转</button></a>
</body>
</html>