<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/MainPageNavigationBar.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pagesOfRole.css" />"
    <title>Occupant</title>
</head>
<body>
<div class="contain">
    <div class="container-fluid">
        <ul>
            <li class="active"><li><a href="occupant">Occupant</a></li>
            <li><a href="UpData">UpData Form</a></li>
            <li style="float:right"><a href="logout">Logout</a></li>
        </ul>
    </div>
    <div class="pagesBody">
        <form name="infoForm" class="infoForm" id="infoForm" method="GET">
            <dev class="left">
                <div class="firstCols">
                    <label>UserId</label>
                </div>
                <div class="otherCols">
                    <label>Location</label>
                </div>
            </dev>
            <dev class="right">
                <div class="firstCols">
                    <h1><%= valueOfId %></h1>
                </div>
                <div class="otherCols">
                    <h1><%= valueOfLoc %></h1>
                </div>
            </dev>
        </form>
    </div>
    <div class="pagesBottom"></div>
</div>
</body>
</html>