<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/DataForm.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/MainPageNavigationBar.css" />
    <title>Title</title>
</head>
<body>
<div class="contain">
    <div class="container-fluid">
        <ul>
            <li class="active"><li><a href="occupant">occupant</a></li>
            <li><a href="UpData">UpData Form</a></li>
            <li style="float:right"><a href="logout">logout</a></li>
        </ul>
    </div>
    <div class="pagesBody">
        <form id="formId" action="" method="GET">
            <div class="row">
                <div class="col-30">
                    <label for="userId">UserId</label>
                </div>
                <div class="col-70">
                    <input type="text" id="userId" name="userId" placeholder="" value="<%= valueOfID %>" readonly="readonly">
                </div>
            </div>
            <div class="row">
                <div class="col-30">
                    <label for="role">Role</label>
                </div>
                <div class="col-70">
                    <input type="text" id="role" name="role" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="col-30">
                    <label for="association">Association</label>
                </div>
                <div class="col-70">
                    <select id="association" name="association">
                        <option value="school">School</option>
                        <option value="university">University</option>
                        <option value="company">Company</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-30">
                    <label for="dlocation">Data location</label>
                </div>
                <div class="col-70">
                    <select id="dlocation" name="datalocation">
                        <option value="6.008">6.008</option>
                        <option value="6.009">6.009</option>
                        <option value="6.024">6.024</option>
                        <option value="6.025">6.025</option>
                    </select>
                </div>
            </div>
            <div class="row" style="text-align: center">
                <input type="submit" value="UpData">
            </div>
        </form>

    </div>
</div>
</body>
</html>