<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/download.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/MainPageNavigationBar.css" />
    <script type="text/javascript" src="routes/download.js"></script>
    <title>Download</title>
</head>
<body>
<div class="contain">
    <div class="container-fluid">
        <ul>
            <li class="active"><li><a href="researcher">Researcher</a></li>
            <li class="active"><a href="DataRequestForm">Data Request Form Page</a></li>
            <li><a href="log">Logging</a></li>
            <li style="float:right"><a href="logout">Logout</a></li>
        </ul>
    </div>
    <div class="pagesBody">
        <form id="requestForm" name="requestForm" class="requestForm" method="get">
            <div class="left">
                <div class="row" style="padding-top: 5%">
                    <div class="col-30">
                        <label for="userId">UserId</label>
                    </div>
                    <div class="col-70">
                        <input type="text" id="userId" name="userId" placeholder="" value="<%= valueOfID %>" readonly="readonly" disabled="true">
                    </div>
                </div>
                <div class="row">
                    <div class="col-30">
                        <label for="result">Result</label>
                    </div>
                    <div class="col-70">
                        <table style="margin-top: 10px; width: 70%; height: 50%" id="policy">
                            <tr>
                                <td>Data Request</td>
                                <td>Result</td>
                            </tr>
                            <%- all %>
                        </table>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="row">
                    <input type="button" style="margin-top: 30%" value="Download" class="selectionBtn" id="downloadBtn" onclick="download()">
                    <input type="button" style="margin-top: 30%" value="Back" class="selectionBtn" id="backBtn" onclick="window.location.href='researcher'">
                </div>
            </div>
        </form>
    </div>
    <div class="pagesBottom"></div>
</div>
<script>
    function download() {

        let start_date = getCookie("start_date");
        let end_date = getCookie("end_date");
        let room_number = getCookie("room_number");
        let sensor_type = getCookie("sensor_cookie_accepted");

        // window.alert(start_date + "\n" + end_date + "\n" + room_number + "\n" + sensor_type);

        let arrSensor = sensor_type.split("%2C");

        for (let i = 0; i < arrSensor.length - 1; i++) {

            let url_string = "https://api.usb.urbanobservatory.ac.uk/api/v2.0a/sensors/timeseries/room-" + room_number + "/" + arrSensor[i] + "/raw/historic?startTime=" + start_date + "T00:00:00&endTime=" + end_date + "T23:59:59&outputAs=csv";

            let api_request = new XMLHttpRequest();
            api_request.open("GET", url_string, true);
            api_request.onload = function () {
                if (api_request.status == 200) {
                    let output_data = "data:text/csv;charset=utf-8," + encodeURIComponent(this.response);

                    let d_link = document.createElement("a");
                    d_link.href = output_data;
                    d_link.download = arrSensor[i] + ":" + room_number + ".csv";
                    d_link.click();
                } else if (api_request.status == 400) {
                    window.alert("Error. Incorrect request parameters.");
                } else {
                    window.alert("There are some errors to download data about " + arrSensor[i]);
                }
            }
            api_request.send();
        }
    }


    function getCookie(cookieKey) {
        let strCookie = document.cookie;
        let arrCookie = strCookie.split("; ");
        for(let i = 0; i < arrCookie.length; i++){
            let keyValue = arrCookie[i].split("=");
            if(cookieKey == keyValue[0]){
                return keyValue[1];
            }
        }
        return "";
    }
</script>
</body>
</html>