<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/MainPageNavigationBar.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pagesOfRole.css"/>
    <script type="text/javascript" src="routes/log.js"></script>
    <title>Log</title>
</head>
<body>
<div class="contain">
    <div class="container-fluid">
        <ul>
            <li class="active"><li><a href="researcher">Researcher</a></li>
            <li class="active"><a href="DataRequestForm">Data Request Form Page</a></li>
            <li><a href="log">Logging</a></li>
            <li style="float:right"><a href="logout">Logout</a></li>
        </ul>
    </div>
    <div style="background-color: #f1f1f1;width: 100%;height: 100%;text-align: center;top: 45px;">
        <p style="text-align: center;margin-top: 45px;text-align: center; padding-top: 15px">Past Logging Data</p>
        <table style="width: 95%;border: 1px solid black;margin: 0 auto;" id="log">
            <tr>
                <td>UserId</td>
                <td>UserName</td>
                <td>Email</td>
                <td>Role</td>
                <td>Data Request</td>
                <td>Association</td>
                <td>Location</td>
                <td>Date Begin</td>
                <td>Date End</td>
                <td>Reason</td>
                <td>State</td>
            </tr>
            <%- all %>
        </table>
    </div>
</div>

</body>
</html>