<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/MainPageNavigationBar.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pagesOfRole.css"/>"
    <title>Occupant: <%= title %> </title>
</head>
<body>
<div class="contain">
    <div class="container-fluid">
        <ul>
            <li class="active"><li><a href="occupant">Occupant</a></li>
            <li><a href="UpDatePolicy">Update Policies</a></li>
            <li><a href="RoomAccessDataLog">Room Access Data Log</a></li>
            <li style="float:right"><a href="logout">Logout</a></li>
        </ul>
    </div>
    <div class="pagesBody">
        <form name="infoForm" class="infoForm" id="infoForm" method="GET">
            <dev class="left">
                <div class="firstCols">
                    <label>UserId</label>
                </div>
                <div class="otherCols">
                    <label>Location</label>
                </div>
                <div class="otherCols">
                    <label>Policies</label>
                </div>
            </dev>
            <dev class="right">
                <div class="firstCols">
                    <h1><%= valueOfId %></h1>
                </div>
                <div class="otherCols">
                    <h1><%= valueOfLoc %></h1>
                </div>
                <table style="width: 700px;border: 1px solid black;" id="policy">
                    <tr>
                        <td>Data Request</td>
                        <td>Association</td>
                        <td>Role</td>
                        <td>Date Begin</td>
                        <td>Date End</td>
                    </tr>
                    <%- all %>
                </table>
            </dev>
        </form>
    </div>
    <div class="pagesBottom"></div>
</div>
</body>
</html>