<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/download.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/MainPageNavigationBar.css" />
    <script type="text/javascript" src="routes/DataRequestForm.js"></script>
    <title>Download</title>
</head>
<body>
<div class="contain">
    <div class="container-fluid">
        <ul>
            <li class="active"><li><a href="researcher">Researcher</a></li>
            <li class="active"><a href="DataRequestForm">Data Request Form Page</a></li>
            <li><a href="log">Logging</a></li>
            <li style="float:right"><a href="logout">logout</a></li>
        </ul>
    </div>
    <div class="pagesBody">
        <form id="requestForm" name="requestForm" class="requestForm" method="get">
            <div class="left">
                <div class="row" style="padding-top: 5%">
                    <div class="col-30">
                        <label for="userId">UserId</label>
                    </div>
                    <div class="col-70">
                        <input type="text" id="userId" name="userId" placeholder="" value="<%= valueOfID %>" readonly="readonly" disabled="true">
                    </div>
                </div>
                <div class="row">
                    <div class="col-30">
                        <label for="result">Result</label>
                    </div>
                    <div class="col-70">
                        <input type="text" id="result" name="result" placeholder="" value="<%= valueOfResult %>" readonly="readonly" disabled="true">
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="row">
                    <input type="button" style="margin-top: 30%" value="Download" class="selectionBtn" id="downloadBtn">
                    <input type="button" style="margin-top: 30%" value="Back" class="selectionBtn" id="backBtn" onclick="window.location.href='researcher'">
                </div>
            </div>
        </form>
    </div>
    <div class="pagesBottom"></div>
</div>
</body>
</html>